@media (max-width: 1300px) {
  header {
    padding: 0 60px;
  }

  header .logo {
    width: 60px;
  }

  header .header-bottom {
    gap: 24px;
    padding: 8px 0;
  }

  header .nav-item {
    font-size: 13px;
  }

  header .nav-item .nav-arrow {
    width: 18px;
    height: 18px;
  }

  header .site-text {
    font-size: 8px;
    gap: 1px;
  }

  header .site-text img {
    width: 9px;
    height: 9px;
  }

  header .vertical-line {
    height: 35px;
  }

  header .search-icon {
    width: 13px;
    height: 13px;
  }

  header .header-top-right {
    gap: 16px;
  }

  header .sites-group {
    gap: 6px;
  }
}


@media (max-width: 1300px) {
  .footer-container {
    padding: 30px 60px;
  }

  .footer-top {
    gap: 0px;
  }

  .footer-col {
    max-width: 100%;
    flex: none;
  }

  .footer-top .footer-col:first-child {
    flex: none;
    max-width: 100%;
  }

  .footer-bottom {
    padding-top: 15px;
    gap: 15px;
  }

  .footer-logo {
    width: 150px;
  }

  .footer-nav {
    justify-content: left;
    gap: 12px;
  }

  .footer-nav a {
        font-size: 12px;
  }
}


@media (max-width: 870px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px !important;
  }

  header .logo {
    object-fit: cover;
    width: 110px !important;
  }

  header .header-top {
    justify-content: space-between;
  }

  header .header-top-right,
  header .sites-group,
  header .search-icon,
  header .vertical-line,
  header .site-text,
  header .header-bottom {
    display: none !important;
  }

  .hamburger-menu {
    display: flex;
  }

  header .header-separator {
    display: none;
  }
}

@media (max-width: 768px) {
  .pagconfig img {
    object-fit: contain;
    width: 146px;
  }


  .pagconfig p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .footer-container {
    padding: 64px 20px !important;
    gap: 22px;
  }

  .footer-nav {
    flex-direction: column;
  }

   .footer-top {
    flex-direction: column;
  }

  .footer-col h3 {
    font-size: 17px;
  }

  .footer-col p {
    font-size: 17px;
  }

  .footer-col ul li {
    font-size: 17px;
  }

  .footer-bottom {
    padding-top: 0 !important;
     align-items: start;
    flex-direction: column;
    gap: 20px;
  }

  .footer-logo {
    width: 166px;
  }

  .footer-col h3.accordion-toggle {
    position: relative;
    cursor: pointer;
    padding: 22px 0;
    border-top: 2px solid #3A3A3A;
    border-bottom: 2px solid #3A3A3A;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-col h3.accordion-toggle .arrow-icon {
    display: flex;
    width: 15px;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .footer-col.active h3.accordion-toggle .arrow-icon {
    transform: rotate(180deg);
  }


  .footer-col ul {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    margin-top: 12px;
    padding-left: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
  }

  .footer-col.active ul {
    max-height: 500px;
    opacity: 1;
  }


}