@media (max-width: 1300px) {
  header {
    padding: 0 60px;
  }

  header .logo {
    width: 60px;
  }

  header .header-bottom {
    gap: 24px;
    padding: 8px 0;
  }

  header .nav-item {
    font-size: 13px;
  }

  header .nav-item .nav-arrow {
    width: 18px;
    height: 18px;
  }

  header .site-text {
    font-size: 8px;
    gap: 1px;
  }

  header .site-text img {
    width: 9px;
    height: 9px;
  }

  header .vertical-line {
    height: 35px;
  }

  header .search-icon {
    width: 13px;
    height: 13px;
  }

  header .header-top-right {
    gap: 16px;
  }

  header .sites-group {
    gap: 6px;
  }
}

@media (max-width: 1300px) {
  .home-top-container {
    padding: 0 60px;
  }

  .content-left {
    width: 100%;
  }

  .content-left br {
    display: none;
  }

  .content-right {
    width: 100%;
  }

  .content-right img {
    width: 80%;
    height: auto;
  }

  .home-bottom-container {
    padding-left: 60px;
    padding-right: 60px;
  }

}

@media (min-width: 769px) and (max-width: 1440px) {
  .areas-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 24px;
  }

  .s1-container {
    padding-left: 60px;
    padding-right: 60px;
  }

  .area-item {
    flex: 0 0 calc((100% - 4 * 24px) / 5);
    max-width: calc((100% - 4 * 24px) / 5);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  .area-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .area-name {
    font-size: 18px;
    margin-top: 18px;
    font-weight: 600;
    color: 00000;
    line-height: 1;
    padding: 0 5px;
    text-transform: capitalize;
  }
}

@media (max-width: 1300px) {
  section.s2 {
    width: 100%;
    max-width: 1440px;
    background-color: var(--color-bg-primary);
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 104px 60px;
    box-sizing: border-box;
  }

  .card {
    width: 594px;
    height: 249px;
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 7px;
    box-sizing: border-box;
  }

  .card-left {
    background-color: #F9F9FF;
  }

  .card-right {
    background-color: #830050;
  }

  .card-left img,
  .card-right img {
    width: 40%;
    max-width: 200px;
    height: auto;
    object-fit: contain;
  }


  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
  }

  .card-content p {
    font-size: 16px;
    font-family: 'inter', sans-serif;
    font-weight: bold;
    margin: 0;
    color: white;
  }

  .card-left .card-content p {
    color: #000;
  }

  .btn-with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 24px;
    background-color: #BF286E;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    font-family: 'inter', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn-with-icon:hover {
    background-color: #59072ddd;
  }

  .btn-with-icon img {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }

  .btn-with-icon .icon-item {
    display: none;
  }

  .btn-with-icon .icon-item0 {
    display: flex;
  }
}

@media (max-width: 1300px) {
  .container-s3 {
    padding: 104px 60px;
  }

}

@media (max-width: 1300px) {
  .grid-container {
    display: flex;
    gap: 48px;
  }

  .grid-item {
    flex: 1;
  }

  .container-s4 {
    padding: 104px 60px;

  }


}

@media (max-width: 1300px) {
  .footer-container {
    padding: 30px 60px;
  }

  .footer-top {
    gap: 0px;
  }

  .footer-col {
    max-width: 100%;
    flex: none;
  }

  .footer-top .footer-col:first-child {
    flex: none;
    max-width: 100%;
  }

  .footer-bottom {
    padding-top: 15px;
    gap: 15px;
  }

  .footer-logo {
    width: 150px;
  }

  .footer-nav {
    justify-content: left;
    gap: 12px;
  }

  .footer-nav a {
        font-size: 12px;
  }
}




@media (max-width: 870px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px !important;
  }

  header .logo {
    object-fit: cover;
    width: 110px !important;
  }

  header .header-top {
    justify-content: space-between;
  }

  header .header-top-right,
  header .sites-group,
  header .search-icon,
  header .vertical-line,
  header .site-text,
  header .header-bottom {
    display: none !important;
  }

  .hamburger-menu {
    display: flex;
  }

  header .header-separator {
    display: none;
  }
}

@media (max-width: 768px) {
  .home-top {
    height: 405px;
    background-image: url('../assets/bg-mobile.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .home-top-container {
    justify-content: center;
    padding: 0 20px;
    gap: 20px;
  }
  

  .home-top h1 {
    font-size: 28px;
  }

  .home-top h2 {
    font-size: 18px;
  }

  .home-top br {
    display: none;
  }

  .home-bottom-container {
    flex-direction: column;
    padding: 64px 16px;
    gap: 32px;
  }

  .content-right img {
    width: 100%;
    height: auto;
  }

  .content-left h2 {
    font-size: 22px;
    margin-bottom: 24px 0;
  }

  .content-right-mobile {
    margin-bottom: 24px;
  }

  .content-left p {
    font-size: 17px;
  }

  .content-left br {
    display: none;
  }
}

@media (max-width: 768px) {
  .home-bottom-container {
    flex-direction: column;
    padding: 64px 20px;
    align-items: flex-start;
  }

  .content-right {
    display: none;
  }

  .s1-container h2 {
    font-size: 22px !important;
    display: flex;
    text-align: left;
  }

  .content-right-mobile {
    display: block;
    width: 100%;
    margin: 24 px 0;
    text-align: center;
  }

  .content-right-mobile img {
    width: 100%;
    max-width: 517px;
    height: auto;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .s1-container {
    padding: 64px 20px;
    gap: 16px;
  }

  .carousel-wrapper {
    position: relative;
    width: 100%;
    background-color: transparent;
  }

  .mobile-img {
    display: flex;
  }

  .desktop-img {
    display: none !important;
  }

  .areas-container {
    display: flex;
    gap: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
  }

  .area-item {
    flex: 0 0 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
  }

  .area-item span {
    font-size: 20px;
  }

  .area-item img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    display: block;
  }

  .carousel-btn {
    position: absolute;
    top: 41%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    transition: opacity 0.3s ease;
  }

  .carousel-btn.prev {
    left: -1.1rem;
  }

  .carousel-btn.next {
    right: -1.1rem;
  }

}

@media (max-width: 768px) {
  section.s2 {
    flex-direction: column;
    padding: 64px 20px !important;
    gap: 64px;
  }

  section.s2 .card {
    width: 100%;
    flex-direction: column;
    max-width: none;
    height: auto;
    gap: 24px;
    padding: 24px;
  }

  .card-content {
    display: flex;
    text-align: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .card-content br {
    display: none;
  }

  .btn-with-icon {
    width: 100%;
    height: 3rem;
  }

  .card-left img {
    width: 211px;
    height: 105px;
    object-fit: contain;
  }

  .card-right img {
    width: 237px;
    height: 59px;
    object-fit: contain;
  }


  section.s2 .card-left img,
  section.s2 .card-right img {
    width: 100%;
    max-width: 197px;
    height: auto;
  }

  .card-content p {
    font-size: 17px;
  }

  .btn-with-icon {
    padding: 8px 20px;
    font-size: 17px;
  }

  .btn-with-icon img {
    width: 16px !important;
    height: 16px !important;
  }

  .card-right .btn-with-icon {
    background-color: white;
    color: #BF286E;

  }

  .card-right .btn-with-icon .icon-item {
    display: flex;
  }

  .card-right .btn-with-icon .icon-item0 {
    display: none;
  }

}

@media (max-width: 768px) {
  section.s3 {
    background: none;
    padding: 0px 20px;
    justify-content: center;
  }

  .container-s3 {
    padding: 0;
    max-width: 100%;
  }

  .card-s3 {
    width: 100%;
    height: auto;
    padding: 40px 24px;
    gap: 12px;
  }

  .card-s3 br {
    display: none;
  }

  .small-text-top,
  .small-text-bottom {
    font-size: 22px;
  }

  .big-text {
    font-size: 45px;
  }

  .btn_s3 {
    width: 100%;
    max-width: none;
    justify-content: center;
    padding: 15px 0;
    font-size: 17px;
  }

  .mobile-card {
    display: flex;
  }

}

@media (max-width: 768px) {
  .container-s4 {
    padding: 64px 20px;
    max-width: 100%;
  }

  .s4-title {
    text-align: center;
    font-size: 21px;
    padding-bottom: 16px;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 12px 0;
  }

  .grid-item {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    gap: 16px;
  }

  .item-img {
    width: 100%;
    height: 210px;
    object-fit: cover;
  }

  .item-content {
    padding: 0px;
  }

  .item-title {
    font-size: 18px;
    margin-bottom: 8px;
    text-align: left;

  }

  .item-text {
    font-size: 17px;
    margin-bottom: 16px;
    text-align: left;
  }

  .item-text br {
    display: none;
  }

  .btn-back-gradient .btn-text {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .footer-container {
    padding: 64px 20px !important;
    gap: 22px;
  }

  .footer-nav {
    flex-direction: column;
  }

   .footer-top {
    flex-direction: column;
  }

  .footer-col h3 {
    font-size: 17px;
  }

  .footer-col p {
    font-size: 17px;
  }

  .footer-col ul li {
    font-size: 17px;
  }

  .footer-bottom {
    padding-top: 0 !important;
     align-items: start;
    flex-direction: column;
    gap: 20px;
  }

  .footer-logo {
    width: 166px;
  }

  .footer-col h3.accordion-toggle {
    position: relative;
    cursor: pointer;
    padding: 22px 0;
    border-top: 2px solid #3A3A3A;
    border-bottom: 2px solid #3A3A3A;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-col h3.accordion-toggle .arrow-icon {
    display: flex;
    width: 15px;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .footer-col.active h3.accordion-toggle .arrow-icon {
    transform: rotate(180deg);
  }


  .footer-col ul {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    margin-top: 12px;
    padding-left: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
  }

  .footer-col.active ul {
    max-height: 500px;
    opacity: 1;
  }


}
