* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

:root {
  --font-base: 'Arial', sans-serif;
  --color-bg-primary: #ffffff;
  --color-bg: #D9D9D9;
  --color-text: #333333;
  --color-primary: #0055ff;
  --color-accent: #ff6600;
}

/* HEADER */
header {
  max-width: 1440px;
  padding: 0 124px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header .header-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  width: 71px;
  height: auto;
}

header .header-top-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

header .sites-group {
  display: flex;
  gap: 8px;
}

header .site-text {
  font-size: 9px;
  font-family: 'inter', sans-serif;
  font-weight: bold;
  color: #5F6368;
  display: flex;
  align-items: center;
  gap: 1px;
  cursor: pointer;
}

header .site-text img {
  width: 10px;
  height: 10px;
  object-fit: cover;
}

header .vertical-line {
  width: 1px;
  height: 40px;
  background-color: #ccc;
}

header .search-icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
  object-fit: cover;
}

header .header-separator {
  width: 100vw;
  height: 1px;
  background-color: #ccc;
  margin: 0;
  position: relative;
}

header .header-bottom {
  width: 100%;
  display: flex;
  gap: 30px;
  padding: 10px 0;
}

header .nav-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: 'LexiaRegular', sans-serif;
  color: #1F1F1E;
  cursor: pointer;
  user-select: none;
}

header .nav-item .nav-arrow {
  width: 20px;
  height: 20px;
  margin-left: 1px;
  object-fit: cover;
}


.hamburger-menu {
  display: none;
  width: 17px;
  height: auto;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;

}

.hamburger-menu span {
  display: block;
  height: 2px;
  background-color: #5F6368;
  transition: all 0.3s ease;
}

.hamburger-menu.active span:nth-child(1) {
  transform: rotate(45deg) translate(2.8px, 1.9px);
}

.hamburger-menu.active span:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}


/* INFORMACOES */
section.informacoes {
  width: 100%;
  height: 610px;
  display: flex;
  flex-direction: column;
}

.informacoes-top {
  width: 100%;
  height: 345px;
  background-image: url('../assets/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
}

.informacoes-top-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 112px;

  display: flex;
  align-items: center;
  color: white;
}

.informacoes-top-container h2 {
  font-family: 'LexiaRegular', sans-serif;
  font-size: 51px;
  font-weight: bold;
  text-align: left;
  margin: 0;
}

.informacoes-bottom-padding {
  background-color: white;
  padding: 104px 0;
  flex: 1; 
  display: flex;
  justify-content: center;
}

.informacoes-bottom {
  max-width: 1440px;
  width: 100%;
  padding: 0 112px;
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.btn-produto {
  background-color: #BF286E;
  color: white;
  width: 387px;
  height: 56px;

  border: none;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  font-family: 'Inter', sans-serif;
  font-weight: 600; 
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 0 16px;
}

.btn-produto img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

/* FOOTER */
footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  font-family: 'Inter', sans-serif;
  padding: 0;
}

.footer-container {
  max-width: 1440px;
  padding: 40px 112px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-top {
  display: flex;
  gap: 60px;
  justify-content: space-between;
}

.footer-col {
  flex: 1;
  max-width: 400px;
}

.footer-top .footer-col:first-child {
  flex: 1.6;
  max-width: none;
}

.footer-col h3 {
  font-weight: 700;
  margin-bottom: 8px;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

.footer-col p {
  font-size: 17px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 12px;
  color: #ffffff;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #ffffff;
}

.footer-col ul li {
  margin-bottom: 5px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  cursor: pointer;
  font-size: 17px;
}

.footer-col ul li:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  object-fit: contain;
}

.footer-bottom {
  width: 100%;
  justify-content: center;
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer-logo {
  width: 200px;
  object-fit: contain;
}

.footer-nav {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-nav a {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.footer-bottom p {
  font-size: 14px;
  color: #ffffff;

}

.arrow-icon {
  display: none;
}